body{
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
}

header{
    margin-right: auto;
    margin-left: auto;
    display: flex;

}

.titles{
    display: flex;
    flex-direction: column;
}

#logo{
    height: 100px;
    width:100px;
}

main{
    display:flex;
    justify-content: center;
}

li a{
    display: block;
    padding: 8px 0 8px 16px;
    text-decoration: none;

}

ul {
    list-style: none;
    margin:0;
    padding:0;
}

.hr{
    width:75%;
    height:1px;
    background: #0B0D02;
    content:"";

}

#footer{
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
}